
<form
  class="form-edit"
  *ngIf="user"
  (ngSubmit)="onSubmit()"
  #f="ngForm">
  <span class="form-title">Edit user</span>
  <span>email</span>
  <input
    placeholder="email"
    name="email"
    [(ngModel)]="user.email"
    type="email">
  <span>lastname</span>
  <input
    placeholder="lastName"
    name="lastName"
    [(ngModel)]="user.lastName"
    type="text">
  <span>name</span>
  <input
    placeholder="name"
    name="name"
    [(ngModel)]="user.name"
    type="text">
  <span>username</span>
  <input
    placeholder="username"
    name="username"
    [(ngModel)]="user.username"
    type="text">

  <button class="button" type="submit" >Edit</button>
</form>
