<div class="form-panel">


  <form
    class="login"
  (ngSubmit)="onSubmit()"
  #f="ngForm">
    <span class="form-title">Welcome to tree cutting reporter</span>
  <div class="btn-group">
    <input
      placeholder="Username"
      name="username"
      ngModel
      type="text">

  </div>
  <div class="btn-group">
    <input
      placeholder="Password"
      name="password"
      ngModel
      type="password">
  </div>

  <button class="button-log-in" type="submit" >Log in</button>
</form>
</div>
